{% extends "layout.html" %}

{% block title %} {{title}} {% endblock %}

{% block content %}
    <div class="worksheets-list-container">
        <h1 class="page-header">My Feed</h1>
        <h2 class="page-sub-header">Worksheets recommendation based off your grade</h2>

        {% for post in posts.items %}
            <article class="post-list-layout">
                <a class="post-list-title" href="{{url_for('post', post_id=post.id)}}">{{post.title}}</a>
                <span class="post-list-date">{{post.date_posted.strftime('%Y-%m-%d')}}</span><br />
                <div class="profile-pic-format">
                    <figure>
                        <img src="{{ url_for('static', filename='profile_pics/' + post.author.profile_pic) }}" alt="Profile pic" />
                        <figcaption><a href="{{url_for('user_profile', username=post.author.username)}}">{{post.author.username}}</a></figcaption>
                    </figure>
                </div>
                <span><a class="post-list-subject-grade" href="#">{{post.grade}}</a></span>
                <span>/</span>
                <span><a class="post-list-subject-grade" href="#">{{post.subject}}</a></span>
                <article class="post-list-content">
                    <h3 class="question-header">Question</h3>
                    <p>{{post.question}}</p>
                </article>
            </article>
        {% endfor %}

        {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
            {% if page_num %}
                {% if posts.page == page_num %}
                    <a class="btn btn-info mb-4" href="{{url_for('feed', page=page_num)}}">{{page_num}}</a>
                {% else %}
                    <a class="btn btn-outline-info mb-4" href="{{url_for('feed', page=page_num)}}">{{page_num}}</a>
                {% endif %}
            {% else %}
                ...
            {% endif %}
        {% endfor %}
    </div>
{% endblock content %}
