{% extends "layout.html" %}

{% block style %}
    <!-- CSS style for profile page from others (Bootstrap & Kshiti Ghelani)  -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="{{ url_for('static', filename='profile.css') }}" rel="stylesheet" type="text/css">
{% endblock style %}

{% block title %}
    {{title}} profile
{% endblock %}

{% block content %}

    <!-- HTML profile page snippet made by Kshiti Ghelani (kshiti06 on Bootsnipp) -->
    <div class="container emp-profile">
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                    <figure>
                        <img src="{{ profile_pic }}" id="profile_pic" alt="Profile pic" />
                        <figcaption>Profile picture</figcaption>
                    </figure>
                </div>
            </div>

            <div class="col-md-8">
                <div class="profile-head">
                    <h5>
                        {{user.username}}
                    </h5>
                    <p class="profile-grade">GRADE : <span>{{ user.grade }}</span></p>
                    <div class="tab">
                        <button type="button" class="tablinks" onclick="openTab(event, 'Myposts')">{{user.username}} Worksheets ({{posts.total}})</button>
                        <button type="button" class="tablinks" onclick="openTab(event, 'liked-posts')" disabled>Worksheets liked</button>
                        <button type="button" class="tablinks" onclick="openTab(event, 'peers')" disabled>Peers</button>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-md-4">
                <div class="profile-work">
                </div>
            </div>

            <div class="col-md-8">

                <div id="Myposts" class="tabcontent">
                    <h1 class="page-header-profile">Worksheets by {{user.username}}</h1>
                    <h2 class="page-sub-header-profile">All {{posts.total}} worksheets created by this student</h2>

                    {% for post in posts.items %}
                    <article class="post-list-layout">
                        <a class="post-list-title" href="{{url_for('post', post_id=post.id)}}">{{post.title}}</a>
                        <span class="post-list-date">{{post.date_posted.strftime('%Y-%m-%d')}}</span><br />
                        <div class="profile-pic-format">
                            <figure>
                                <img src="{{ url_for('static', filename='profile_pics/' + post.author.profile_pic) }}" alt="Profile pic" />
                                <figcaption><a href="{{url_for('user_profile', username=post.author.username)}}">{{post.author.username}}</a></figcaption>
                            </figure>
                        </div>
                        <span><a class="post-list-subject-grade" href="{{url_for('worksheets_parameter', parameter=post.grade)}}">{{post.grade}}</a></span>
                        <span> / </span>
                        <span><a class="post-list-subject-grade" href="{{url_for('worksheets_parameter', parameter=post.subject)}}">{{post.subject}}</a></span>
                        <article class="post-list-content">
                            <h3 class="question-header">Question</h3>
                            <p>{{post.question}}</p>
                        </article>
                    </article>
                    {% endfor %}
                    {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                    {% if page_num %}
                    {% if posts.page == page_num %}
                    <a class="btn btn-info mb-4" href="{{url_for('user_profile', username=user.username, page=page_num)}}">{{page_num}}</a>
                    {% else %}
                    <a class="btn btn-outline-info mb-4" href="{{url_for('user_profile', username=user.username, page=page_num)}}">{{page_num}}</a>
                    {% endif %}
                    {% else %}
                    ...
                    {% endif %}
                    {% endfor %}
                </div>

                <div id="liked-posts" class="tabcontent">
                    <h3>{{user.username}} liked Worksheets</h3>
                    <p>Worksheets liked by this student!</p>
                </div>

                <div id="peers" class="tabcontent">
                    <h3>Peers</h3>
                    <p>{{user.username}} peers!</p>
                </div>

            </div>
        </div>    
    </div>

    <script>
        function openTab(evt, tabName) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(tabName).style.display = "block";
            evt.currentTarget.className += " active";
        }
    </script>
{% endblock content %}
